.circle{
    width: 13rem;
    height: 13rem;
    background-color: #7dd0d3;
    border-radius:50%;
    margin-left:3rem;
    margin-top:3rem;
}

.circle-text{
    position:absolute;
    margin-top:3rem;
    margin-left:2.9rem;
    font-size: 5rem;
}

.circle1{
    position:absolute;
    width:3rem;
    height:3rem;
    background-color: #54e893;
    border-radius:50%;
    margin-left:12.5rem;
    margin-top:-3.5rem;
}

.hangout{
    width:31rem;
    height:30rem;
    margin-left:auto;
    margin-top:-12rem;
    margin-right:5rem;
    background-color: #edede7;
    border-radius:5%;
    border:1px solid #7dd0d3;
}

p{
    margin-left:2rem;
    margin-top:1.5rem;
    color: #2b60b1;
    font-family: "Arial", Times, serif;
}


.info-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    margin-top:-24rem;
}

.info{
    width: 25rem;
    height: 3.4rem;
    margin-left:auto;
    margin-right:9.5rem;
    border-radius:1rem;
    background-color:  rgb(207 242 218);
}

.name{
    margin-left:0.5rem;
    margin-top:0.3rem;
    font-family: "Arial", Times, serif;
}

.place{
    margin-right:auto;
    margin-left:0.5rem;
    margin-top:0.2rem;
    font-family: "Arial", Times, serif;
}

h4{
    position:absolute;
    margin-left:72.5rem;
    margin-top:-27rem;
    font-family: "Times New Roman", Times, serif;
    font-size: 1.5rem;
}

.role{
    color: rgb(53, 119, 62);
    font-family: "Arial", Times, serif;
    font-size: 1.2rem;
    position:absolute;
    margin-left:20rem;
    margin-top:-28rem;
}

.imena{
    position:absolute;
    margin-left:20rem;
    margin-top:-29rem;
    font-size:2rem;
}

.wrapper {
    position: absolute;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-left: 20rem;
    margin-top: -21rem;
}

.time{
    width:5rem;
    height:3rem;
    background-color: #edede7;
    font-size:1rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 0.6rem;
    border-radius: 1rem;
    border:1px solid rgb(165, 197, 175);
}

.default{
    position:absolute;
    margin-left:2rem;
    margin-top:5rem;
    font-family: "Arial", Times, serif;
    font-size: 1.2rem;
    color: rgb(53, 119, 62);
}

.plan{
    position:absolute;
    margin-top:6rem;
    margin-left:2rem;
    font-family: "Arial", Times, serif;
}

.wrap{
    position:absolute;
    display:flex;
    flex-direction: row;
    gap: 1rem;
    margin-left: 2rem;
    margin-top: -21rem;
}

.planning{
    width:16.8rem;
    height:2.5rem;
    margin-top:30.5rem;
    background-color:  rgb(207 242 218);
    border-radius: 1.8rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    font-size: 0.8rem;
}

.wrap1{
    position:absolute;
    display:flex;
    flex-direction: row;
    gap: 1.8rem;
    margin-left: 2rem;
    margin-top: -21rem;

}

.planning1{
    width:15.6rem;
    margin-top:31.3rem;
    border-radius: 1.8rem;
    display: flex;
    align-items: center;
    justify-content: end;
    padding-right: 2.5rem;
    font-size: 0.8rem;
}

.beach{
    position:absolute;
    height: 25rem;
    width: 22rem;
    margin-left: 2rem;
    margin-top: 18rem;
    background-color: #d7faf2;
    border-radius: 5%;
   /*margin-bottom: 30px;*/
}

.beach-box{
    display:flex;
    flex-direction: column;
    gap: 1rem;
    margin-left: 2rem;
    margin-top: 2rem;
}

.beach-box1{
    background-color: #edede7;
    width:16.8rem;
    height:2.5rem;
    margin-left:-0.5rem;
    border-radius: 2rem;
    font-family: "Arial", Times, serif;
    display:flex;
    align-items: center;
    padding-left:0.5rem;
}

.pizza-night{
    position:absolute;
    height: 25rem;
    width: 22rem;
    margin-left: 27rem;
    margin-top: 18rem;
    background-color:  rgb(207 242 218);
    border-radius: 5%;
    /*margin-bottom: 30px;*/
}

.pizza-box{
    display:flex;
    flex-direction: column;
    gap: 1rem;
    margin-left: 2rem;
    margin-top: 2rem;
}

.pizza-box1{
    background-color: #edede7;
    width:16.8rem;
    height:2.5rem;
    margin-left:-0.5rem;
    border-radius: 2rem;
    font-family: "Arial", Times, serif;
    display:flex;
    align-items: center;
    padding-left:0.5rem;
}

.ski{
    position:absolute;
    height: 25rem;
    width: 22rem;
    margin-left: 52rem;
    margin-top: 18rem;
    background-color: #d7faf2;
    border-radius: 5%;
    /*margin-bottom: 30px;*/
}

.ski-box{
    display:flex;
    flex-direction: column;
    gap: 1rem;
    margin-left: 2rem;
    margin-top: 2rem;
}

.ski-box1{
    background-color: #edede7;
    width:16.8rem;
    height:2.5rem;
    margin-left:-0.5rem;
    border-radius: 2rem;
    font-family: "Arial", Times, serif;
    display:flex;
    align-items: center;
    padding-left:0.5rem;
}

.coffee{
    position:absolute;
    height: 25rem;
    width: 22rem;
    margin-left: 77rem;
    margin-top: 18rem;
    background-color:  rgb(207 242 218);
    border-radius: 5%;
    /*margin-bottom: 30px;*/
}

.coffee-box{
    display:flex;
    flex-direction: column;
    gap: 1rem;
    margin-left: 2rem;
    margin-top: 2rem;
}

.coffee-box1{
    background-color: #edede7;
    width:16.8rem;
    height:2.5rem;
    margin-left:-0.5rem;
    border-radius: 2rem;
    font-family: "Arial", Times, serif;
    display:flex;
    align-items: center;
    padding-left:0.5rem;
}

.exhibit{
    position:absolute;
    height: 25rem;
    width: 22rem;
    margin-left: 2rem;
    margin-top: 45rem;
    background-color:  rgb(207 242 218);
    border-radius: 5%;
    /*margin-bottom: 30px;*/
}

.exhibit-box{
    display:flex;
    flex-direction: column;
    gap: 1rem;
    margin-left: 2rem;
    margin-top: 2rem;
}

.exhibit-box1{
    background-color: #edede7;
    width:16.8rem;
    height:2.5rem;
    margin-left:-0.5rem;
    border-radius: 2rem;
    font-family: "Arial", Times, serif;
    display:flex;
    align-items: center;
    padding-left:0.5rem;
}

.pool{
    position:absolute;
    height: 25rem;
    width: 22rem;
    margin-left: 27rem;
    margin-top: 45rem;
    background-color: #d7faf2;
    border-radius: 5%;
    /*margin-bottom: 30px;*/
}

.pool-box{
    display:flex;
    flex-direction: column;
    gap: 1rem;
    margin-left: 2rem;
    margin-top: 2rem;
}

.pool-box1{
    background-color: #edede7;
    width:16.8rem;
    height:2.5rem;
    margin-left:-0.5rem;
    border-radius: 2rem;
    font-family: "Arial", Times, serif;
    display:flex;
    align-items: center;
    padding-left:0.5rem;
}

.achieve{
    position:absolute;
    height: 25rem;
    width: 22rem;
    margin-left: 52rem;
    margin-top: 45rem;
    background-color: #edede7;
    border-radius: 5%;
    border-style: dotted;
    border-color: #7dd0d3;
    border-width: 3px;
}

.view{
    margin-left: 3rem;
    margin-top: 11rem;
    position:absolute;
    font-family: Arial, Times, serif;
}

.memory{
    margin-top: 15rem;
    margin-left: 2.5rem;
    position:absolute;
    font-family: Arial, Times, serif;
}

.last{
    margin-top: 5rem;
    margin-left: 8rem;
    position:absolute;
    font-size:4rem;
}

.achieved{
    margin-top: 17rem;
    margin-left: 7rem;
    position:absolute;
    font-family: Arial, Times, serif;
    color:darkgreen;
}

.achieved:hover{
    cursor: pointer;
    color:lightgreen;
    text-decoration: underline;
}

.add{
    height: 2.5rem;
    width: 10rem;
    background-color: #edede7;
    border:1px solid #7dd0d3;
    margin-top:-16rem;
    margin-left: 20rem;
    border-radius: 0.5rem;
}

.settings{
    height: 2.5rem;
    width: 10rem;
    background-color: #edede7;
    border:1px solid #7dd0d3;
    margin-top:-16rem;
    margin-left: 33rem;
    border-radius: 0.5rem;
}

body{
    margin:0;
    background-color: #f5f5dc70;
}

/* navbar-style */
header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid gray;
    padding: 12px 0px;
    background-color:  rgb(207 242 218);
    align-items: center;
    column-gap: 245px;
}

h1.header {
    padding-left: 2rem;
    margin:0;
}

nav.header-nav {
    display: flex;
    align-items: center;
    gap: 8px;
    background-color:rgb(227 247 232);
    padding: 0px 17px;
    border-radius: 40px;
    margin-right: 30rem;
    height: 60px;
}

nav.header-nav a {
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
    padding: 10px 25px;
    border-radius: 19px;
    font-weight: bold;
    color:gray;
}

nav.header-nav a.active {
    background-color: #96d8f8;
    color: black;
    font-weight: bolder;
}

nav.header-nav a:hover {
    background-color:rgb(195, 208, 198);
}

nav.header-nav a{
    display: flex;
    justify-content: center;
    column-gap: 8px;
}

span.nav-headers {
    padding-top: 2px;
}